.experience-container {
  padding: 0px 20px;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

.experience-list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-items: center;
}

.experience-card {
  border-radius: 16px;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  transform: translateY(50px);
  opacity: 0;
  animation: slideUpFadeIn 1s ease forwards;
  animation-delay: 0.3s;
  margin: auto;
}

.experience-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
}

.experience-image {
  height: 200px;
  object-fit: contain;
  background-color: #000000;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.experience-description {
  margin-top: 10px;
  font-size: 0.95rem;
  color: #cccccc;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

/* Animaciones */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUpFadeIn {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
